In [2]:
import pandas as pd

In [3]:
new_dicom_df = pd.read_csv("new-dicom.csv")
old_dicom_df = pd.read_csv("old-dicom.csv")

In [9]:
result = pd.concat([new_dicom_df, old_dicom_df], axis=0, ignore_index=True)
result.drop_duplicates()
result

        FNAME     LNAME
0       MURAT       KOÇ
1       SEVGİ     KUTLU
2     ŞİRABEY      ENÜL
3      MEHMET    KÜRŞAT
4      SADİYE    İSTEMİ
..        ...       ...
330     FATMA  KAYABAŞI
331    ZIYADA  CHAYYEVA
332  MUHARREM    ÖZTÜRK
333    HATİCE  GÜRBEDEN
334   NEBAHAT   ÇARIKLI

[335 rows x 2 columns]

In [10]:
def find_duplicate_rows(df1, df2):
    # İki DataFrame arasındaki ortak satırları bul (Inner Join)
    # how='inner': Sadece her iki df'de de olan satırları getirir
    common_rows = pd.merge(df1, df2, how='inner')

    # Kaç tane aynı satır olduğunu hesapla
    count = len(common_rows)

    if count > 0:
        print(f"Total duplicate rows found: {count}")
        print("\nDuplicate Rows:")
        print(common_rows)
    else:
        print("No duplicate rows found between the two DataFrames.")
    
    return common_rows, count

In [11]:
find_duplicate_rows(new_dicom_df, old_dicom_df)

No duplicate rows found between the two DataFrames.

(Empty DataFrame
 Columns: [FNAME, LNAME]
 Index: [],
 0)